body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url("../public/background-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

* {
  transition: all ease-in-out;
  transition-duration: 200ms;
}

*::selection {
  background-color: #ffc90f;
}

.navbar {
  position: absolute;
  height: 2rem;
  top: 20px;
  z-index: 50;
  width: 8rem;
  background: rgb(0, 0, 0);
  border-radius: 16px;
  border: 1px solid rgba(31, 28, 19, 0.3);
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  left: 50%;
  transform: translate(-50%);
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.title-nav {
  opacity: 0;
  height: max-content;
  text-align: center;
  color: white;
  cursor: pointer;
}

.navbar:hover {
  width: 22rem;
  .title-nav {
    opacity: 1;
    transition: all;
    transition-delay: 200ms;
  }
  .logout-btn {
    opacity: 1;
  }
  .round-nav {
    opacity: 0;
  }
}

.home-container {
  width: 80vw;
  height: 80vh;
  border-radius: 2rem 0rem 2rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.514);
}

.login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  border: 1px solid black;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  gap: 1rem;
  font-size: large;
}
.login-input {
  border-radius: 12px;
  padding: 12px;
  border: 1px solid black;
}

input[type="submit"] {
  width: max-content;
  padding-inline: 32px;
  padding-block: 12px;
  align-self: center;
  cursor: pointer;
  border: none;
}

.heading {
  padding: 12px;
  font-size: 2rem;
  position: sticky;
  top: 0px;
  backdrop-filter: blur(20px);
}

.heading::after {
  content: " ";
  background-color: #ffc90f;
  position: absolute;
  top: 50px;
  left: 50%;
  width: 50px;
  height: 2px;
  opacity: 0.85;
  transform: translateX(20px);
  transition: 0.3s ease-out;
}

.note-view {
  background-color: #f3f2f1;
  width: 100%;
  height: 100%;
  text-align: center;
  border-left: 2px solid rgba(201, 201, 201, 0.493);
}

.recent-notes {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.notes-link {
  background: linear-gradient(180deg, white, rgb(230, 230, 230));
  width: 100%;
  height: 4rem;
  font-size: 1rem;
  align-items: start;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgba(124, 124, 124, 0.568);
}

.notes-link:hover {
  background: #ffcb0f8e;
}
.text-title {
  font-size: 1.4rem;
  font-weight: 600;
  padding-inline: 12px;
}
.text-one-line {
  width: 90%;
  height: 18px;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-inline: 12px;
  text-align: start;
}

.notes-title {
  font-size: 2rem;
  font-weight: 600;
  width: 80%;
  background: transparent;
  outline: none;
  border: none;
}

.notes-title:focus {
  border: 1px solid rgba(0, 0, 0, 0.247);
}

.notes-text {
  font-size: 1.2rem;
  align-self: center;
  text-align: justify;
  padding: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
}

textarea[name="content"] {
  resize: none;
  overflow-y: scroll;
}

.warning {
  color: red;
  font-size: medium;
  text-align: center;
  margin-top: 12px;
}

.notes-container {
  height: 70%;
  border-radius: 30px;
  padding-top: 2rem;
}

.change-login {
  text-align: center;
  font-size: medium;
  cursor: pointer;
  color: gray;
}

.change-login:hover {
  color: black;
}

button {
  padding-block: 4px;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.loading-screen {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-size: larger;
}

.logout-btn {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  opacity: 0;
  position: relative;
}

.logout-btn:hover {
  color: black;
}

.round-nav {
  content: "";
  background-color: #ebaf0b;
  position: absolute;
  top: 8px;
  right: 12%;
  z-index: 99;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  opacity: 1;
  /* transform: translateX(20px); */
  /* transition: 0.3s ease-out; */
}
.create-Btn {
  height: 3rem;
  width: 12rem;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  background-color: #ffc90f;
  color: #f3f2f1;
  font-weight: 600;
  font-family: sans-serif;
  align-items: center;
  padding-inline: 20px;
  align-self: center;
  cursor: pointer;
}

.create-Btn:hover {
  background-color: #ebaf0b;
}

.note-btn-container {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
